<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type">
<title>Retwis - Example Twitter clone based on the Redis Key-Value DB</title>
<link href="static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="page">
<div id="header">
	<a href="/"><img style="border:none" src="static/image/logo.png" width="192" height="85" alt="Retwis"></a>
	<div id="navbar">
		<a href="/">home</a> | <a href="/timeline">timeline</a> | <a href="/chat">chat</a>
		{{if .IsLogin}}
		 |  <a href="/logout">logout</a>
		{{end}}
	</div>
</div>
<div id="channels">
	<h3>
		Channels
		<span>({{.ChannelsCount}})</span>
		<i class="icon-plus" aria-label="Create channel" role="button"></i>
	</h3>
	{{range .User.Channels}}
	{{end}}
</div>
<div id="following">
	<h3>
		Following
		<span>({{.FollowingCount}})</span>
		<i class="icon-plus" aria-label="Create Following" role="button"></i>
	</h3>
	{{range .User.Following}}
	
	{{end}}
<div id="followers">
	<h3>
		Followers
		<span>({{.FollowersCount}})</span>
		<i class="icon-plus" aria-label="Create Followers" role="button"></i>
	</h3>
	{{range .User.Followers}}
	{{end}}
</div>
<div id="footer">Redis is a very simple Twitter clone written in PHP as example application of the <a href="http://redis.io">Redis database</a></div>
</div>
</body>
</html>