<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type">
<title>Retwis - Example Twitter clone based on the Redis Key-Value DB</title>
<link href="static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="page">
<div id="header">
	<a href="/"><img style="border:none" src="static/image/logo.png" width="192" height="85" alt="Retwis"></a>
	<div id="navbar">
		<a href="/">home</a> | <a href="/timeline">timeline</a>
		{{if .IsLogin}}
		 |  <a href="/logout">logout</a>
		{{end}}
	</div>
</div>
<h2 class="username">{{.User.Username}}</h2>
{{if not .IsSelf}}
	{{if not .IsFollowing}}
	<a href="/follow?userid={{.User.UserID}}&following=1" class="button">Follow this user</a>
	{{else}}
	<a href="/follow?userid={{.User.UserID}}&following=0" class="button">Stop following</a>
	{{end}}
{{end}}
<!--showUserPostsWithPagination-->
{{range .UserPosts.Posts}}
<div class="post">
	<a class= "username" href="/profile?username={{.Username}}">{{.Username}}</a> {{.Content}}</br>
	<i>posted {{.Elapsed}} ago via web</i>
</div>
{{end}}
<div class="rightlink">
{{if .UserPosts.HavePage}}
<a href="/profile?start={{.UserPosts.PrevPosition}}&username={{.User.Username}}">&laquo; Newer posts</a>
{{end}}
{{if .UserPosts.HaveMore}}
<a href="/profile?start={{.UserPosts.NextPosition}}&username={{.User.Username}}">Older posts &raquo;</a>
{{end}}
</div>
<div id="footer">Redis is a very simple Twitter clone written in PHP as example application of the <a href="http://redis.io">Redis database</a></div>
</div>
</body>
</html>