<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type">
<title>Retwis - Example Twitter clone based on the Redis Key-Value DB</title>
<link href="static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="page">
<div id="header">
	<a href="/"><img style="border:none" src="static/image/logo.png" width="192" height="85" alt="Retwis"></a>
	<div id="navbar">
		<a href="/">home</a> | <a href="/timeline">timeline</a>
	</div>
</div>
<h2>Welcome aboard!</h2>
Hey {{.Username}}, now you have an account, <a href="/">a good start is to write your first message!</a>.
<div id="footer">Redis is a very simple Twitter clone written in PHP as example application of the <a href="http://redis.io">Redis database</a></div>
</div>
</body>
</html>